/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CUSTOM STYLES */

* {
  box-sizing: border-box;
  cursor: none !important;
}

html, body {
  /* overflow: visible; */
    height: 100%;
    
}

html {
  font-size: 18px;
    /* overflow: hidden; */

}

body {
  /* position: relative; */
  width: 100%;
  scroll-behavior: smooth;
  line-height: 1.5;
  background: var(--secondary-color);
  color: var(--primary-color);
  font-family: var(--font-primary);
}

.cursor{
  position: fixed;
  pointer-events: none;
  width: 36px;
  height: 36px;
  background-color: var(--primary-color );
  border-radius: 50%;
  z-index: 1000;
  opacity: 0.4;
  mix-blend-mode: var(--blend-mode);
}

.triangle {
  /* clip-path: polygon(0 0,93% 50%,25% 100%); */
    border-radius: 0;
    border: 2px solid var(--accent-color);
    background-color: transparent;
    opacity: 0.6;
}

.hide-cursor {
  cursor: none !important;
}

html, body {
  transition: background-color 0.5s ease, color 0.5s ease;
}

:root {
  --font-primary: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
  --font-secondary: 'Xanh Mono', mono;
}

/* Dark mode */

[data-theme="light"] {
  --primary-color: #081F5C; /* Deep Blue */
  --secondary-color: #F7F2EB; /* Light Beige */
  --accent-color: #2242b3; /* Soft Blue */
  --blue: #0f3351;
  --beige: #e3dbd1;
  --gradient-color-1: #6F96D1;
  --gradient-color-2: #a3c8e4 ;
  --gradient-color-3: #EDF0F5 ;
  --gradient-color-4: #F2F1DF ;
  --blend-mode: multiply;
  
  
}

[data-theme="dark"] {
  --primary-color: #F7F2EC; /* Deep Blue */
  --secondary-color: #05133a; /* Light Beige */
  --accent-color: #D0E4FF ; /* Soft Blue */ 
  --blue: #0f3351;
  --beige: #e3dbd1;
  --midnight: #091F5B;
  --gradient-color-1: #0a2367;
  --gradient-color-2: #2645b3 ;
  --gradient-color-3: #6F96D1 ;
  --gradient-color-4: #F2F1DF ;
  --blend-mode: difference;
}


#circle {
  position: absolute;
  z-index: -2;
  opacity: 0.4;
  width: 350px;
  height: 350px; 
  filter: blur(30px);
  animation: morph 10s infinite; 
  background: linear-gradient(
      47deg,
      var(--gradient-color-1)  19%,
      var(--gradient-color-2)  47%,
      var(--gradient-color-3)  76%,
      var(--gradient-color-4)  100%
  );
}

@keyframes morph {
  0% {
    border-radius: 100% 75% 92% 74% / 60% 80% 30% 70%;
  }
  33% {
    border-radius: 60% 40% 30% 70% / 100% 85% 92% 74%;
  }
  66% {
    border-radius: 20% 71% 47% 70% / 81% 15% 22% 54%;
  }
  100% {
    border-radius: 100% 75% 92% 74% / 60% 80% 30% 70%;
  }
} 

/* Basic Styles */

a{
  text-decoration: none;
}

h1 {
  font-size: 2.6rem;
  font-weight: 400;
  color: var(--accent-color);
}

h1>a {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

h2 {
  color: var(--accent-color);
  font-size: 1.62rem;
}

p{
  font-size: 1em;
} 

.wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
  height: 100vh;
  scroll-behavior: smooth;
}




/* Nav */
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  background: transparent;
  padding: 0 6vh;
  padding-top: 1em;
  color: var(--accent-color);

}

.name {
  font-family: var(--font-primary);
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}


#navbar ul li {
  display: inline-block;
  list-style: none;
  margin: 0px 20px;
  
}

#navbar ul li a {
  text-decoration: none;

  position: relative;
  text-transform: uppercase;
  color: inherit;
}

#navbar ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background: var(--accent-color);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

#navbar ul li a:hover::after {
  width: 100%;
}

.header-text {
  margin-top: 12%;
}

.header-text p {
  font-size: 1.1rem;
}

/* Toggle switch */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid var(--accent-color); 
  background-color: transparent;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 2px;
  bottom: 2px;
  background-color: var(--accent-color);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  border-color: var(--accent-color);
}


input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  /* transform: translateX(24px); */
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.sun-icon,
.moon-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  transition: 0.4s;
  z-index: -1;
}

.sun-icon {
  left: 8px;
}

.moon-icon {
  right: 8px;
}

.container {
  padding: 0 6vw;
}


/* --------portfolio--------- */

#portfolio {
  padding: 50px 0;
  margin-top: 10vh;
  display: block;
  width: 100%;
}

#projects, #all-projects{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.project{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6vw;
  margin-top: 25px;
  margin-bottom: 50px;
  align-items: center;
}

.project-img {
  position: relative;
  /* border: 2px solid var(--primary-color); */
  border-radius: 10px;
  width: 50vw;
  aspect-ratio: 1.5/1;
  overflow: hidden;
} 


.project-img img {
  transition: transform 0.5s ease;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.project-img:hover img {
  filter: contrast(70%); 
}

.project-description h3 {
  font-weight: bold;
  font-size: larger;
  margin-bottom: 1em;
}

.project-description p {
  font-size: 1.1rem;
  margin-bottom: 1em;
  max-width: 400px;
}

.project-description .keywords{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

}

.project-description .keywords li{
  border-radius: 50px;
  border: 1px solid var(--accent-color);
  width: fit-content;
  padding: 4px 12px;
  color: var(--accent-color);
  min-width: fit-content;
  font-size: smaller;
}


/* Fade-in animation */

.fade-in {
  opacity: 0;
  transition: opacity 0.6s ease;
}

.fade-in.visible {
  opacity: 1;
}


/* FOOTER */

#contact {
  height: auto;
  padding: 2vh 6vh;
}

footer {
  width: 100%;
  position: relative;
}


footer h2{
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 0.5em;
}

/* ---------contact---------- */

.social-icons{
  display: flex;
  gap: 0.8em;
  justify-content: center;
}

.social-icons a {
  display: inline-block;
  font-size: 2em;
  text-align: center;
  color: var(--primary-color);
}

.social-icons a:hover {
  color: var(--accent-color);
}

.btn.btn2 {
  display: inline-block;
  background: var(--blue);
}

#mail a {
  text-decoration: none;
  color: var(--blue);
}

nav .fa-solid {
  display: none;
}




/* ------------css for small screens ---------- */

@media only screen and (max-width: 1200px) {


  
}

@media only screen and (max-width: 768px) {
  .project{
    display: flex;
    flex-direction: column;
  }

  .project-img{
    width: 70vw;
  }


}

@media only screen and (max-width: 576px) {
  .header-text h1{
    font-size: 3em;
  }

  .switch{
    display: none;
  }

  h1{
    font-size: 2em;
  }

  #portfolio{
    margin-top: 2vh;
  }

  .container{
    padding: 0 10vw;
  }
  
  
  .social-icons a{
    font-size: 2em;
    padding: 0 1vw;
  }

  #navbar {
    padding: 1em 3vw;
    justify-content: center;
  }

  .name {
    display: none;
  }

  #circle{
    display: none;
  }

}


